<div class="header py-4 py-lg-5" style="background-color: rgb(1, 143, 180)">
  <div class="container">
    <div class="header-body text-center mb-7">
      <img src="https://static.wixstatic.com/media/29d8bb_465742e685cb489e805d5e04faf1cf26~mv2.png/v1/fill/w_92,h_80,al_c,q_85,usm_0.66_1.00_0.01/logo%20sem%20fundo%20cesto.webp">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bem Vindo!</h1>
          <p class="text-lead text-light">Portal do parceiro. Gerencie sua loja de forma fácil e rápida.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm">Voltar</button>
          <div class="text-muted text-center mt-2 mb-3"><h2>Alterar Estabelecimento</h2></div>
        </div>
        <div class="text-center text-muted mb-4">
          <small>Clique para inserir ou alterar o banner.</small>
        </div>
        <!-- <p-fileUpload previewWidth="80"[showUploadButton]="false" chooseLabel="Escolher Arquivo"
        [showCancelButton]="false"  name="demo[]" url="./upload.php" (onSelect)="onUpload($event)"
         accept="image/*" maxFileSize="1000000">
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles"></li>
            </ul>
        </ng-template>
       </p-fileUpload> -->
       <!-- <img src="data:image;base64,restaurant.imageURL" /> -->
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Alterar estabelecimento.</small>
          </div>
          <form role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-shop"></i></span>
                </div>
                <input class="form-control"id="nameID" [(ngModel)]="restaurant.companyName" name="restaurant.companyName" value="{{restaurant.companyName}}" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                </div>
                <input class="form-control" [(ngModel)]="restaurant.phoneNumber" name="restaurant.phoneNumber" value="{{restaurant.phoneNumber}}" type="text">
              </div>
            </div>
           
            
              <ng-multiselect-dropdown  [ngModelOptions]="{standalone: true}"
  [placeholder]="'Selecione a categoria'"
  [settings]="dropdownSettings"
  [data]="restaurantCategories"
  [(ngModel)]="selectedRestaurantCategory"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
>
             </ng-multiselect-dropdown>

           
             
            <!-- Default switch -->
            <br>
            <p-inputSwitch [(ngModel)]="pedidoRetiradaBalcao" [ngModelOptions]="{standalone: true}"></p-inputSwitch>            
            <label style="font-size:15px; margin-left: 15px;">Pedidos apenas para retirada no balcão</label>
            <div class="text-center">
              <button type="button" (click)="alterarEstabelecimento(restaurant)" class="btn btn-primary my-4">Salvar</button>
            </div>
            <ngx-ui-loader></ngx-ui-loader>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
