<div class="header py-4 py-lg-5" style="background-color: rgb(1, 143, 180)">
  <div class="container">
    <div class="header-body text-center mb-7">
      <img src="https://static.wixstatic.com/media/29d8bb_465742e685cb489e805d5e04faf1cf26~mv2.png/v1/fill/w_92,h_80,al_c,q_85,usm_0.66_1.00_0.01/logo%20sem%20fundo%20cesto.webp">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bem Vindo!</h1>
          <p class="text-lead text-light">Portal do parceiro. Gerencie sua loja de forma fácil e rápida.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm">Voltar</button>
          <div class="text-muted text-center mt-2 mb-3"><h2>Alterar Endereço Estabelecimento</h2></div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form">
            <div class="form-group mb-3">
              <label>CEP</label>
              <div class="input-group input-group-alternative">
               
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                </div>
               
                <input id="zipCode" value="addressModel.zipCode" [(ngModel)]="addressModel.zipCode" name="addressModel.zipCode" class="form-control"  type="text">
              </div>
            </div>
            <div class="form-group">
              <label>Estado</label>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                  </div>
                  <input id="state" value="addressModel.state" [(ngModel)]="addressModel.state" name="addressModel.state" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
              <label>Cidade</label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                </div>
                <input id="city" value="addressModel.city" [(ngModel)]="addressModel.city" name="addressModel.city" class="form-control" type="text">
              </div>
            </div>
            <div class="form-group">
              <label>Bairro</label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                </div>
                <input id="sublocality" value="addressModel.sublocality" [(ngModel)]="addressModel.sublocality" name="addressModel.sublocality" class="form-control" type="text">
              </div>
            </div>

            <div class="form-group">
              <label>Rua/Avenida</label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                </div>
                <input id="street" value="addressModel.street" [(ngModel)]="addressModel.street" name="addressModel.street" class="form-control" type="text">
              </div>
            </div>

            <div class="form-group">
              <label>Número</label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                </div>
                <input id="number" value="addressModel.number" [(ngModel)]="addressModel.number" name="addressModel.number" class="form-control" type="number">
              </div>
            </div>

            <div class="form-group">
              <label>Complemento</label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-square-pin"></i></span>
                </div>
                <input id="observations" value="addressModel.observations" [(ngModel)]="addressModel.observations" name="addressModel.observations" class="form-control" type="text">
              </div>
            </div>      
            <div class="text-center">
              <button (click)="salvarEnderecoEstabelecimento(addressModel)" type="button" class="btn btn-primary my-4">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
