<div class="header py-4 py-lg-5" style="background-color: rgb(1, 143, 180)">
  <div class="container">
    <div class="header-body text-center mb-7">
      <!-- <img src="https://static.wixstatic.com/media/29d8bb_465742e685cb489e805d5e04faf1cf26~mv2.png/v1/fill/w_263,h_260,al_c,q_85,usm_0.66_1.00_0.01/logo%20sem%20fundo%20cesto.webp">  -->
      <div class="text-muted text-center mt-2 mb-3"><h2 style="color: white;">Detalhe do Pedido</h2></div>
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <!-- <h1 class="text-white">Bem Vindo!</h1>
          <p class="text-lead text-light">Portal do parceiro. Gerencie sua loja de forma fácil e rápida.</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm">Voltar</button>
          <div class="text-muted text-center mt-2 mb-3"><h2>Pedido #8</h2></div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="text-muted text-center mt-2 mb-3"><h3 style="margin-left: 110px;">Murillo Rodrigues</h3   ></div> 

               
              </div>
              <label>Cerveja</label> 
              <div class="input-group input-group-alternative">
               
                <label>1x Heineken</label> <label style="margin-left: 200px;">R$ 3,88</label>
               </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-alternative">
                 <label>Total: </label> <label style="margin-left: 250px;">R$ 3,88</label>
                </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
               
                <label>Retirada</label> <label style="margin-left: 230px;">Mesa 3</label>
               </div>
               <div class="text-muted text-left mt-2 mb-3"><h3>Aguardando Confirmação</h3></div> 
            </div>

            <div class="text-center">
            <button style="margin-right:52px;" type="button" class="btn btn-danger">Recusar Pedido</button>
            <button type="button" class="btn btn-success my-4">Aceitar Pedido</button>
          </div>
            <!-- <div class="text-center">
              <button style="margin-right:170px;" type="button" (click)="goBack()" class="btn btn-danger">Voltar</button>
              <button type="button" (click)="CadastroRestaurante()" class="btn btn-primary my-4">Salvar</button>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
