<div class="header bg-gradient pb-8 pt-5 pt-md-8"  style="background-color: rgb(1, 143, 180)">
  <div class="container-fluid">
    <div class="header-body">
      <a href="#/detalhe-cardapio" class="btn btn-info">Cadastrar</a>
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <h1 style="color: white;">Sushi</h1>
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                      <div class="text-muted text-center mt-2 mb-3"><h3 >Barca Japonês</h3></div> 
                    <label>80 tipos</label> 
                    <div class="input-group input-group-alternative">
                      <h4>R$ 77,60</h4> <s><p style="margin-left: 50px;">R$ 80,00</p></s>
                     </div>
                  </div>
                </div>
                <div class="col-auto">
                  <span class="avatar avatar rounded-circle">
                    <img alt="Image placeholder" src="assets/img/brand/barcajaponesa.PNG">
                  </span>
                </div>
                <button style="width: -webkit-fill-available;" type="button" (click)="EditarItem()" class="btn btn-secondary btn-sm">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <h1 style="color: white;">Massa</h1>
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                      <div class="text-muted text-center mt-2 mb-3"><h3>Pastel Misto</h3></div> 
                    <label>Carne moída, milho</label> 
                    <div class="input-group input-group-alternative">
                      <h4>R$ 6,23</h4> <s><p style="margin-left: 50px;">R$ 7,00</p></s>
                     </div>
                  </div>
                </div>
                <div class="col-auto">
                  <span class="avatar avatar rounded-circle">
                    <img alt="Image placeholder" src="assets/img/brand/pastel.PNG">
                  </span>
                </div>
                <button style="width: -webkit-fill-available;" type="button" (click)="EditarItem()" class="btn btn-secondary btn-sm">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <h1 style="color: white;">Lanches</h1>
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                      <div class="text-muted text-center mt-2 mb-3"><h3>Porção de Batata</h3></div> 
                    <label>500g, queijo e bacon</label> 
                    <div class="input-group input-group-alternative">
                      <h4>R$ 17,80</h4> <s><p style="margin-left: 50px;">R$ 20,00</p></s>
                     </div>
                  </div>
                </div>
                <div class="col-auto">
                  <span class="avatar avatar rounded-circle">
                    <img alt="Image placeholder" src="assets/img/brand/batata.PNG">
                  </span>
                </div>
                <button style="width: -webkit-fill-available;" type="button" (click)="EditarItem()" class="btn btn-secondary btn-sm">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <h1 style="color: white;">Cerveja</h1>
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                      <div class="text-muted text-center mt-2 mb-3"><h3>Heineken</h3></div> 
                    <label>250ml</label> 
                    <div class="input-group input-group-alternative">
                      <h4>R$ 3,88</h4> <s><p style="margin-left: 50px;">R$ 4,00</p></s>
                     </div>
                  </div>
                </div>
                <div class="col-auto">
                  <span class="avatar avatar rounded-circle">
                    <img alt="Image placeholder" src="assets/img/brand/heinekenGelada.PNG">
                  </span>
                </div>
                <button style="width: -webkit-fill-available;" type="button" (click)="EditarItem()" class="btn btn-secondary btn-sm">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <h1 style="color: white;">Sushi</h1>
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                      <div class="text-muted text-center mt-2 mb-3"><h3>Barca Japonês</h3></div> 
                    <label>80 tipos</label> 
                    <div class="input-group input-group-alternative">
                      <h4>R$ 77,60</h4> <s><p style="margin-left: 50px;">R$ 80,00</p></s>
                     </div>
                  </div>
                </div>
                <div class="col-auto">
                  <span class="avatar avatar rounded-circle">
                    <img alt="Image placeholder" src="assets/img/brand/barcajaponesa.PNG">
                  </span>
                </div>
                <button style="width: -webkit-fill-available;" type="button" (click)="EditarItem()" class="btn btn-secondary btn-sm">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <h1 style="color: white;">Sushi</h1>
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                      <div class="text-muted text-center mt-2 mb-3"><h3>Barca Japonês</h3></div> 
                    <label>80 tipos</label> 
                    <div class="input-group input-group-alternative">
                      <h4>R$ 77,60</h4> <s><p style="margin-left: 50px;">R$ 80,00</p></s>
                     </div>
                  </div>
                </div>
                <div class="col-auto">
                  <span class="avatar avatar rounded-circle">
                    <img alt="Image placeholder" src="assets/img/brand/barcajaponesa.PNG">
                  </span>
                </div>
                <button style="width: -webkit-fill-available;" type="button" (click)="EditarItem()" class="btn btn-secondary btn-sm">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <h1 style="color: white;">Sushi</h1>
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                      <div class="text-muted text-center mt-2 mb-3"><h3>Barca Japonês</h3></div> 
                    <label>80 tipos</label> 
                    <div class="input-group input-group-alternative">
                      <h4>R$ 77,60</h4> <s><p style="margin-left: 50px;">R$ 80,00</p></s>
                     </div>
                  </div>
                </div>
                <div class="col-auto">
                  <span class="avatar avatar rounded-circle">
                    <img alt="Image placeholder" src="assets/img/brand/barcajaponesa.PNG">
                  </span>
                </div>
                <button style="width: -webkit-fill-available;" type="button" (click)="EditarItem()" class="btn btn-secondary btn-sm">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <h1 style="color: white;">Sushi</h1>
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                      <div class="text-muted text-center mt-2 mb-3"><h3>Barca Japonês</h3></div> 
                    <label>80 tipos</label> 
                    <div class="input-group input-group-alternative">
                     
                      <h4>R$ 77,60</h4> <s><p style="margin-left: 50px;">R$ 80,00</p></s>
                     </div>
                     <div class="input-group input-group-alternative">
                     </div> 
                  </div>
                </div>
                <div class="col-auto">
                  <span class="avatar avatar rounded-circle">
                    <img alt="Image placeholder" src="assets/img/brand/barcajaponesa.PNG">
                  </span>
                </div>
                <button style="width: -webkit-fill-available;" type="button" (click)="EditarItem()" class="btn btn-secondary btn-sm">Editar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <h1 style="color: white;">Sushi</h1>
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                      <div class="text-muted text-center mt-2 mb-3"><h3>Barca Japonês</h3></div> 
                    <label>80 tipos</label> 
                    <div class="input-group input-group-alternative">
                     
                      <h4>R$ 77,60</h4> <s><p style="margin-left: 50px;">R$ 80,00</p></s>
                     </div>
                     <div class="input-group input-group-alternative">
                     </div> 
                  </div>
                </div>
                <div class="col-auto">
                  <span class="avatar avatar rounded-circle">
                    <img alt="Image placeholder" src="assets/img/brand/barcajaponesa.PNG">
                  </span>
                </div>
                <button style="width: -webkit-fill-available;" type="button" (click)="EditarItem()" class="btn btn-secondary btn-sm">Editar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

