<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/brand/relatorio1.PNG); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient opacity-8" style="background-color: rgb(1, 143, 180)"></span>
  <div class="container-fluid">
    <div class="header-body">
      <p-table [value]="orderReports" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th>Usuário</th>
                <th>ID/Mesa</th>
                <th>Tempo Atendimento</th>
                <th>Valor</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-orderReports>
            <tr>
                <td>{{orderReports.name}}</td>
                <td>{{orderReports.orderID}}</td>
                <td>{{orderReports.preparation}}</td>
                <td>R${{orderReports.amount}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
         Total de pedidos: {{report.ordersCount}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Valor:  R${{report.amount}}
      </ng-template>
    </p-table>
      
      </div>
    </div>
  </div>




