<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/brand/relatorio1.PNG); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient opacity-8" style="background-color: rgb(1, 143, 180)"></span>
  <div class="container-fluid">
    <div class="header-body">
      <p-table  #dt [columns]="cols" [value]="orderReports" styleClass="p-datatable-striped">
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
              <!-- <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>  -->
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
              <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>  -->
               <!-- <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info p-ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button> -->
          </div>
      </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Usuário</th>
                <th>ID/Mesa</th>
                <th>Tempo Atendimento</th>
                <th>Valor</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-orderReports>
            <tr>
                <td>{{orderReports.name}}</td>
                <td>{{orderReports.orderID}}</td>
                <td>{{orderReports.preparation}}</td>
                <td>R${{orderReports.amount}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
         Total de pedidos: {{report.ordersCount}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Valor:  R${{report.amount}}
      </ng-template>
    </p-table>

    <!-- <p-table #dt [columns]="cols" [value]="orderReports" selectionMode="multiple" [(selection)]="selectedProducts">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
          <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({selectionOnly:true})" class="p-button-info p-ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table> -->
      
      </div>
    </div>
  </div>




